{% if request.user.is_authenticated %}
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/blog/">Управление</a></li>
            <li><a href="/olymps/">Личный кабинет</a></li>
            <li><a href="{% url 'logout' %}">Выйти</a></li>
        </ul>
    </div>
{% else %}
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'login'%}">Вход</a></li>
        </ul>
    </div>
{% endif %}